<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
    {{- partial "head.html" . -}}
    <body>
        <div class="absolute top-0 right-0 left-0">
            {{- partial "header.html" . -}}
        </div>
        <div class="flex flex-row mt-[150px] mb-[20px] w-full">
            <div id="left" class="basis-1/12 md:basis-1/6"></div>
            <div id="content" class="basis-5/6 md:basis-1/2">
                {{- block "main" . }}{{- end }}
            </div>
            <div id="right" class="basis-1/12 md:basis-2/6"></div>
        </div> 
        {{- partial "footer.html" . -}}
    </body>
</html>
